<form [formGroup]="form">
    <!--<label for="login">Identifiant : </label>-->
    <md-input-container>
        <input mdInput formControlName="login" id="login" placeholder="Identifiant" type="text">
    </md-input-container>
    <br>
    <md-input-container>
        <input mdInput formControlName="password" id="password" placeholder="Mot de passe" type="password">
    </md-input-container>
    <br>
    <button md-raised-button color="primary" (click)="login()">Submit</button>
</form>
<p>{{msg}}</p>